@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* -------------start navbar ------------------*/
.navbar {
    background-color: #f8f8f8;
}
.navbar-brand , .offcanvas-title{
    font-weight: 500;
    color: #FF5580;
    font-size: 24px;
    transition: 0.3s color;
}
.CVdownload {
    background-color: #FF5580;
    color:rgb(255, 255, 255);
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.CVdownload:hover {
    background-color: #E493B3
}

.navbar-toggler {
    border: 0px;
    font-size: 1.25rem;
}
.navbar-toggler:focus , .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color:#5c5d61;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color:black;
}

.nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #FF5580;
        visibility: hidden;
        transition: 0.3s ease-in-out;

    }

.nav-link:hover::before,  .nav-link.active {
        width: 100%;
        visibility: visible;
    
    }

/* end navbar */

/* ---------------main section ( HOME )---------------- */
section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background-color: #0E0C0C; */
    background: url("PortImages/mainPort.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color: white;
    font-size: 1.4em;
    font-weight: 500;

}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color:#FF5580;
    font-size: 2em;
    font-weight: 600;
}
.main h3 {
    color: white;
    font-size: 1.8em;
    font-weight: 70;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn {
    color:white;
    background-color:#FF5580;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #E493B3;
    transform: scale(1.1);
}
.social-icons a i{
    color:#FF5580;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.4s;
}

.social-icons a i:hover {
    transform: scale(1.1);
}

/* --------------------About section ----------------------- */
.about {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-container img {
    width: 80%;
}

.text-container h1 {
    /* color: #FF5580;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: 600; */
    display: flex;
    justify-content:first baseline;
    color:#FF5580;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    
}

.text-container h5 {
    color: #E493B3;
    font-size: 1.5em;
    margin-bottom: 1.5rem ;
    font-weight: 600;
    letter-spacing: 2px;
}

.text-container p {
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-weight: 500;
    font-size: 15px;
}


/* -------------------- Education section ----------------- */
.cards {
    background-color:#0E0C0C;
}
.card {
    background-color:rgb(49, 49, 49);
    color:rgb(255, 255, 255);
    width: 300px;
    height: 500px;
    border-radius: 10px;
    padding: 1.3rem 2rem;
    /* padding: 25px; */
    margin: 15px;
    text-align:left;
    letter-spacing: 1px;
    box-shadow: 0 5px 25px rgba(100 100 100 / 40%);
    transition: 0.7s ease;

}
.card:hover {
    transform: scale(1.1);

}
.card i {
    font-size: 6em;
    text-align: center;
    color: #FF5580;
    margin: 2rem;
}
.card h3 {
    color:#FF5580;
    font-size:1.2em;
    font-weight: 700;
    margin: 10px;
}
.info {
    text-align: center;
}

.info a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #E493B3;
}
.title {
    display: flex;
    justify-content: center;
    color:#FF5580;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
}

/* ---------------- skills section--------------------- */
.skills {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .img-container {
    width: 40%;
}
.skills .img-container img {
    width: 90%;
}
.skills-container h1{
    display: flex;
    justify-content: center;
    color:#FF5580;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.skills .container-skills {
    width: 50%;
}
.skills .container-skills img {
    width: 90%;
}
.content-skills {
    /* display: flex;
    flex-wrap: wrap;
    margin-top: 4rem; */
    font-size: 20px;
}

/* ------------------------ project ------------------------- */
.projects {
    background-color: #0E0C0C;
}

.projects .content {
    margin-top: 30px;

}

.project-card {
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 26em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;

}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-img {
    opacity: 0.9;
}

.project-img img{
    width: 100%;
    background-color: #0E0C0C;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #FF5580;
    letter-spacing: 1px;

}

.project-title {
    display: flex;
    justify-content:space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #FF5580;
}

.more-details:hover {
    color:#E493B3;
}

/* --------------------- contact ------------------------- */

.Contact h2 {
    display: flex;
    justify-content: center;
}

.Contact .content {
    display: flex;
    justify-content: space-evenly;
}

/* ------------------------ footer -------------------------- */
.footer {
    background-color: #0E0C0C;
    display: flex;
    justify-content: space-around;
}

.footer-title {
    color: white;
    margin-top: 60px;
}
.footer-title span {
    color: #FF5580;
}

.map {
    border: 1px solid #0E0C0C;
}

.location {
    color: white;
    margin-top: 60px;
}

.location i {
    color: #FF5580;
}

/* ----------------Responsive ------------------------*/
@media only screen and (max-width: 600px) {
    header {
        width: 100%;
        padding: 12px 20px;
    }
    .main{
        background-color: #0E0C0C;
        background-size: cover;
        background-size: 100vw 100vw;
        background-position: center;
        /* background-size: 130vw 220vw; */
        /* align-items:flex-start; */

    }
    .title {
        font-size: 1.5em;
    }
    section {
        padding: 80px 20px;
   }

   .footer {
    align-items: center;
    flex-direction: column;

   }
   .footer-title {
    margin-top: 10px;
    margin-bottom: 10px;
   }
   .location {
    margin-top: 10px;
    margin-bottom: 10px;
   }

   .about {
    flex-direction: column;
   }

   .about .img-container {
    width: 100%;
   }
   .skills {
    flex-direction: column;
   }

    .skills .img-container {
        width: 100%
    }
  
    .main h2 {
        font-size: 1em;
    }

    .main h2 span {
        font-size: 1.5em;
    }
    .main h3 {
        font-size: 10px;
    }

    .main-btn {
        font-size: 0.8em;
        display: inline-block;
        padding: 0.9375em 2.1875em;
        letter-spacing: 1px;
        border-radius: 15px;
        margin-bottom: 40px;
        transition: 0.7s ease;
    }

}